<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
{% if messages %}
    <style>
        .alert {
            color: green;
        }
        .alert-danger {
            color: red;
        }
    </style>
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>