{% extends 'base.html' %}


{% block content %}
<p>Доброго времени суток!</p>
<p><a href="/other/">Тут</a> решения(примерные, код не запускал) задач 1-3</p>
<p>Решение задачи 4 в процессе.</p>
<p>сделана автогенерация задач на сегодня</p>
<p><a href="/tasks/">Список</a> моих задач и отражение прогресса выполнения задач с учётом их порядка(следующую оттрекать нельзя до предыдущей)</p>
<p><a href='/report_list/{{today|date:"d-m-Y"}}/'>список</a> выполненных задач за определенный день</p>
<p><a href='/count/'>Количество</a> завершённых задач за сегодня</p>
<p><a href='/report_list/2123/{{today|date:"d-m-Y"}}/'>Список</a> выполненных задач определенного сотрудника (имя задачи, время, имя сотрудника)</p>
<p><a href='/ureport_list/2123/'>Список</a> невыполненных задач определенного сотрудника за любой день (реализовано обобщённо за все даты)</p>
{% endblock %}
