{% extends 'base.html' %}


{% block content %}
<article>
1.<br/>
models.py:<br/>
class Service(models.Model):<br/>
&emsp;name<br/>
&emsp;descr<br/>
&emsp;cost<br/>
<br/>
class Subscription(models.Model):<br/>
&emsp;email<br/>
&emsp;service = models.ForeignKey(Service)<br/>
&emsp;showtime<br/>
&emsp;expire<br/>
<br/>
&emsp;class Meta:<br/>
&emsp;&emsp;unique_together = (("email", "service"),)<br/>
<br/>
<br/>
views.py:<br/>
def subscribe(request):<br/>
&emsp;email = request.POST.get('email')<br/>
&emsp;service = Service.objects.get(id=request.POST.get('service_id'))<br/>
&emsp;showtime = request.POST.get('showtime')<br/>
&emsp;expire = request.POST.get('expire')<br/>
&emsp;sub = Subscription.objects.create(email=email, service=service, showtime=showtime, expire=expire)<br/>
&emsp;sub.save()<br/>
<br/>
def subscribe_process():<br/>
&emsp;def get_request(id):<br/>
&emsp;&emsp;now = datetime.datetime.now()<br/>
&emsp;&emsp;return dict(<br/>
&emsp;&emsp;&emsp;POST=dict(<br/>
&emsp;&emsp;&emsp;&emsp;email='test@test.com',<br/>
&emsp;&emsp;&emsp;&emsp;service_id=id,<br/>
&emsp;&emsp;&emsp;&emsp;showtime=now,<br/>
&emsp;&emsp;&emsp;&emsp;expire=now+datetime.timedelta(14)<br/>
&emsp;&emsp;&emsp;)<br/>
&emsp;&emsp;)<br/>
<br/>
&emsp;services = random.sample([o.id for o in Service.objects.all()], 5)<br/>
&emsp;for i in range(10):<br/>
&emsp;&emsp;'''с 20%(1/5)-вероятностью повтортся связка service_id+email<br/>
&emsp;&emsp;результат фейл, так как связка уникальна для модели'''<br/>
&emsp;&emsp;request=get_request(services[random.randint(1,5)])<br/>
&emsp;&emsp;subscribe(request)<br/>
<br/>
<br/>
2. <br/>
во вьюхе subscribe можно сделать:<br/>
- обязательно добавить проверку входных данных(валидацию)<br/>
- Subscription.objects.get_or_create вместо ...create<br/>
- можно добавить обработку исключений, хотя  данном примере если использовать get_or_create будет излишним<br/>
<br/>
<br/>
3. Думаю, для решения этой задачи, мне помогла бы эта информация: https://postgrespro.ru/docs/postgresql/9.6/explicit-locking. Однако, когда я(конечно же в команде) решал подобные задачи для реализации торговых площадок в виде очереди. Приложение делилось на несколько изолированных(блочных) приложений, соединённых мостом реализованным на RabbitMQ-очередях, таким образом были организовваны компоненты: клиентское приложение(отправляет запрос на запись/изменение информации в очередь), очередь "заданий-отчётов", серверное приложение(которое обрабатывает задачи одну за другой)<br/>
</article>
{% endblock %}
