{% extends 'base.html' %}


{% block content %}
<style>
    .data-wrapper {
        display: block;
        width: 100%;
    }
    .data-wrapper-column {
        display: inline-block;
    }
    .data-wrapper-column.task {
        width: 30%;
        color: green;
    }
    .data-wrapper-column.date {
        width: 10%;
        color: green;
    }
    .data-wrapper-column.employee {
        width: 20%;
        color: green;
    }
</style>
<article>
    <div>Список выполненный задач за {{date|date:"d-m-Y"}} {% if employee %}Сотрудника: {{employee.fio}}{% endif %}</div>
    <div class='data-wrapper'>
        <div class='data-wrapper-header'>
            <div class='data-wrapper-column task'>Задача</div>
            <div class='data-wrapper-column date'>Дата</div>
            <div class='data-wrapper-column employee'>Сотрудник</div>
        </div>
        {% for task in tasks %}
        <div class='data-wrapper-row'>
            <div class='data-wrapper-column task'>{{task.task.name}}</div>
            <div class='data-wrapper-column date'>{{task.date|date:"d-m-Y"}}</div>
            <div class='data-wrapper-column employee'>{{task.employee.fio}}</div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}
