{% extends 'base.html' %}


{% block content %}
<style>
    .btn {
        color: #fff;
        background-color: #1dd2af;
        border-color: #19b698;
    }
</style>
<article>
    <div><a href='/tasks/'>Мои задачи</a></div>
    <div>Отмечаем время</div>
    <div>Мы работали над задачей {{task.task.name}}</div>
    <form id="edit_form" action="{{ request.path }}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div> Задачу закрываем? <input type="checkbox" name="done" {% if task.done %}checked{% endif %}/> </div>
        <div> Сколько часов затрачено на работу? <input type="text" name="spend" value="{{task.spending}}" /></div>
        <button type="submit" class="btn">
            Сохранить
        </button>
    </form>
    </div>
</article>
{% endblock %}
