{% extends 'base.html' %}


{% block content %}
<style>
    .data-wrapper {
        display: block;
        width: 100%;
    }
    .data-wrapper-column {
        display: inline-block;
    }
    .data-wrapper-column.priority {
        width: 10%;
        color: red;
    }
    .data-wrapper-column.task {
        width: 40%;
        color: green;
    }
    .data-wrapper-column.estimate {
        width: 7%;
        color: green;
    }
    .data-wrapper-column.spend {
        width: 7%;
        color: green;
    }
    .data-wrapper-column.finished {
        width: 7%;
        color: green;
    }
    .data-wrapper-column.action {
        width: 20%;
    }
</style>
<article>
    <div>Мои задачи на сегодня</div>
    <div class='data-wrapper'>
        <div class='data-wrapper-header'>
            <div class='data-wrapper-column priority'>П/п</div>
            <div class='data-wrapper-column task'>Задача</div>
            <div class='data-wrapper-column estimate'>Оценка времени</div>
            <div class='data-wrapper-column spend'>Затрачено</div>
            <div class='data-wrapper-column finished'>Завершена</div>
            <div class="data-wrapper-column action">Действия</div>
        </div>
        {% for task in tasks %}
        <div class='data-wrapper-row'>
            <div class='data-wrapper-column priority'>{{task.order}}</div>
            <div class='data-wrapper-column task'>{{task.task.name}}</div>
            <div class='data-wrapper-column estimate'>{{task.task.estimate}}</div>
            <div class='data-wrapper-column spend'>{{task.spending}}</div>
            <div class='data-wrapper-column finished'>{% if task.done %}+{% endif %}</div>
            <div class='data-wrapper-column action'><a href='/task/edit/{{task.id}}/'>Отметить</a></div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}
