{% extends 'base.html' %}


{% block content %}
<style>
    .data-wrapper {
        display: block;
        width: 100%;
    }
    .data-wrapper-column {
        display: inline-block;
    }
    .data-wrapper-column.task {
        width: 40%;
        color: red;
    }
</style>
<article>
    <div>Список невыполненный задач сотрудника: {{employee.fio}}</div>
    <div class='data-wrapper'>
        <div class='data-wrapper-header'>
            <div class='data-wrapper-column task'>Задача</div>
        </div>
        {% for task in tasks %}
        <div class='data-wrapper-row'>
            <div class='data-wrapper-column task'>{{task.task.name}}</div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock %}
